* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
    font-size: 1.5rem;
    line-height: 1.6;
    font-family: 'Work Sans', sans-serif;
    color: #141414;
  }

  h1 {
    font-family: 'Space Mono', monospace;
    font-size: 3rem;
  }

  a {
    text-decoration: none;
    color: #7FACD4;
  }
  
  a:hover {
     color: #fff;
  }

  .container {
    position: relative;
    background-color: #212121;
  }